node_modules/
backend/node_modules/
frontend/node_modules/

dist/
backend/dist/
frontend/dist/

.pnpm-store/
backend/.pnpm-store/
frontend/.pnpm-store/

.env
backend/.env
frontend/.env

.npm-cache/
*.log
*.err.log
